@font-face {
    font-family: 'Vela Sans';
    font-weight: medium;
    src: url(/assets/fonts/VelaSans-Medium.woff);
}
@font-face {
    font-family: 'Vela Sans';
    src: url(/assets/fonts/VelaSans-Regular.woff);
}
@font-face {
    font-family: 'Mazzard';
    src: url(/assets/fonts/MazzardH-Medium.woff);
    font-weight: medium;
}
@font-face {
    font-family: 'Mazzard';
    src: url(/assets/fonts/MazzardH-Regular.woff);
}
@font-face {
    font-family: 'Nuqun';
    src: url(/assets/fonts/Nuqun-Regular.otf);
}
@font-face {
    font-family: 'Bicubik';
    src: url(/assets/fonts/bicubik-regular.woff);
}

.title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.content_block_5 {
    width: 350px;
    height: 236px;
    background-image: url('../images/Subtract.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.15fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 768px) {
    .block_5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

body{
    background-color: black;
}

.drivers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 375px;
    padding-left: 20px;
}
.square{
    width: 13px;
    padding-bottom: 3px;
    padding-right: 5px;
}
.drivers__title{
    color: rgba(255, 255, 255, 0.74);
    font-family: 'Vela Sans';
    font-weight: normal;
    font-size: 24px;
    white-space: nowrap;
}
.drivers__card{
    padding-right: 20px;
}
.card1{
    margin-bottom: 20px;
}
.card2{
    margin-bottom: 20px;
}
.card3{
    margin-bottom: 20px;
}
.card4{

}
.drivers__icon{
    width: 266px;
    height: 59px;
    padding-top: 30px;
    padding-left: 150px;
}
.diplomas{
    width: 100vw;
    max-width: 375px;
    padding-right: 20px;
}
.diplomas__tittle{
    color: rgba(255, 255, 255, 0.74); 
    font-family: 'Vela Sans';
    font-weight: normal;
    font-size: 24px;
}
.diplomas__img_2{
    padding-left: 185px;
    margin-top: -175px;
}
@media screen and (min-width: 1920px){
    .drivers{
        padding-left: 278px;
        padding-right: 225px;
    }
    .drivers__title{
        font-size: 60px;
    }
    .square{
        display: none;
    }
    .drivers__card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
    .card1{
        width: 667px;
        padding-right: 54px;
        padding-bottom: 44px;
    }
    .card2{
        width: 667px;
        padding-left: 54px;
        padding-bottom: 44px;
    }
    .card3{
        width: 667px;
        padding-right: 54px;
        padding-bottom: 44px;
    }
  .card4{
      width: 667px;
      padding-left: 54px;
      padding-bottom: 44px;
  }
}

